.card {
  background: rgb(255, 255, 255);
  border-radius: 2px;
  height: 200px;
  margin: 15px;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px rgb(11, 1, 29)
}


.card > .img-container {
  height: 90%;
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 70%;
}

.card > .content {
  padding-left: 20px;
  padding-right: 20px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}


